<form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
	<div>
	<img  [src]="getImageUrl()"
			style="width: 100px; height: 100px;" /> 
		<label for="imageInput"> Image:  <input class="span6" id="imageInput"
			 type='file' (change)="onSelectFile($event)"></label>

	</div>
	<div >
		<label  for="titleInput"> Title: <input  id="titleInput"
			 type="text" formControlName="title"> </label>

	</div>
	<div >
		<label  for="categoryInput"> Category: <input
			 id="categoryInput" type="text"
			formControlName="category"> </label>

	</div>
	<div >
		<label for="descriptionInput"> Desription:
		<textarea rows="10" id="descriptionInput"
			formControlName="description"></textarea> </label>


	</div>
	<button type="submit"
		[disabled]="!blogForm.valid">Save</button>
</form>