<form #myForm="ngForm" novalidate>
	<div class="form-group">
		<label>Category</label> <input class="form-control" name="category"
			[(ngModel)]="blogItem.category" required />
	</div>
	<div class="form-group">
		<label>Title</label> <input class="form-control" name="title"
			[(ngModel)]="blogItem.title" required />
	</div>
	<div class="form-group">
		<label>Description</label> <input class="form-control" name="description"
			[(ngModel)]="blogItem.description" required />
	</div>
	<div class="form-group">
		<button [disabled]="myForm.invalid" class="btn btn-default"
			(click)="onSubmit(myForm)">Save</button>
	</div>
</form>
